/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.container{
    margin-top: 10%;
}

.fa {
    font-size: 50px;
}

.row {
    margin-bottom: 25px;
}

.card-body {
    background-color: rgb(210, 244, 255);
}

.jumbotron{
    background-color: rgb(210, 244, 255);
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 0px;
  }